*{  
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
    
    }
    body{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top:200px ;
        
    }
   
    .header{
        position: fixed;
        width:100%;
        top:0;
        left:0;
        padding: 20px 10%;
        background: transparent;
        display:flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        background-color: white;
        
    }
    .logo{
        font-size: 15px;
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
    
    
    
    .navbar a{
        font-size: 15px;
        color: black;
        font-weight: bold;
        text-decoration: none;
        margin-right: 35px;
        transition: .3s;
    }
    
    .navbar a:hover,
    .navbar a.active{
        color: rgb(98, 117, 212);
    }
button{
    display: none;
}


.parent{
    margin: 20px;
}
.child1{
    display:flex;
    margin-top: 30px; 
    padding: 20px;
    width:500px;
    max-width:600px;
    margin-left: 18%;
    background-color: rgb(247, 246, 246);
    border-radius:10px ;
}
.parent{
    display: flex;
}
h1{
    
    font-size: 20px;
    
}
.child1 h2, .child2 h2{
    margin-left: 10px;
    margin-top: 45px;
    font-size: 55px;
    
}
p{
    margin-top: 8px;
    font-size: 20px;
    
}
.img{
    margin-left: 20px;
    
}
.child2{
    display:flex;
    margin-top: 30px; 
    padding: 20px;
    width:600px;
    max-width:700px;
    margin-left: 250px;
    background-color: rgb(247, 246, 246);
    border-radius:10px ;
}



.inside{
    display:grid;
    place-items: center;

}
.box{
    background-color: rgb(247, 246, 246);
    max-width: 20%;
    margin-left:18%;
    border-radius:10px ;

}
.search-form{
    font-size: 20px;
}