<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel ="stylesheet" href="{{ url_for('static',filename= 'css/main.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body  style="background-image: url('{{ image_url }}'); background-size: cover; background-position: center;">
    <header class="header">
        
        <nav class="navbar">
            
            <a href="{{ url_for('index') }}" >Today's Weather</a>
            <a href="{{ url_for('forecast') }}" class="active">Forecast</a>
            
        </nav>
    </header>
    

    <div class="main">
        <div class="box">
            <form method="post"  class="search-form" id="searchForm">
                <label for="city">Enter city/zipcode:</label>
                <input type="text" id="city" name="city">
                <button type="submit" class="button-hidden">Get Weather</button>
            </form>
        </div>
        {%if hourly_forecast%}
        
            {%for hour in hourly_forecast%}
            <div class="child1"> 
                <div class="inside">
                    <p>Time: {{hour['time'][-5:]}}</p>
                    <p>Temperature: {{hour['temp_c']}}°C</p>
                    <p>Condition: {{hour['condition']['text']}}</p>
                    <p>Wind: {{hour['wind_kph']}}</p>
                </div>
            
                
                <img src="{{ hour['condition']['icon'] }}" alt="Weather Icon" class ="img"
                width="100" height="150">
            </div>
            

            
            {%endfor%}
        {%endif%}
    </div>
    
    
 
</body>
</html>
