<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel ="stylesheet" href="{{ url_for('static',filename= 'css/main.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body  style="background-image: url('{{ image_url }}'); background-size: cover; background-position: center;">
    <header class="header">
        
        <nav class="navbar">
            
            <a href="{{ url_for('index') }}" class="active">Today's Weather</a>
            <a href="{{ url_for('forecast') }}">Forecast</a>
            
        </nav>
    </header>
    <div class="box">
    <form method="post" class="search-form" id="searchForm">
        <label for="city">Enter city/zipcode:</label>
        <input type="text" id="city" name="city">
        <button type="submit" class="button-hidden">Get Weather</button>
    </form>
</div>

    
        {% if forecast %}  
        <div class="child2">
            <div class="inside">
                <h1> Tonight's weather in {{ weather.location }}:</h1>
                <hr>
                <p>Condition: {{ forecast.condition_for }}</p>
                <p>Wind: {{forecast.wind}}</p>
                <p>Humidity: {{forecast.humidity}}</p>
            </div>
            <h2>{{ forecast.temp_for}}°C</h2>
            <img src="{{ forecast.icon }}" alt="Weather Icon" class ="img" 
            width="100" height="150">
 
        </div>

        {% endif %}
        {% if weather %}
        <div class="child2">
            <div class="inside">
                <h1> Current weather in {{ weather.location }}:</h1>
                <hr>
                <p>Local Time: {{weather.time}}</p>
                <p>Condition: {{ weather.condition }}</p>
                <p>Wind: {{weather.wind}}</p>
                <p>Humidity: {{weather.humidity}}</p>
            </div>
                <h2> {{ weather.temperature }}°C</h2> 
                <img src="{{ weather.icon }}" alt="Weather Icon" class ="img"
                width="100" height="150">
            </div>

            {% endif %}

            <footer>
              
            </footer>
</body>
</html>
